[submodule "libraries/java"]
	path = libraries/java
	url = ../DTUServiceJavaLibrary.git
[submodule "libraries/fusion"]
	path = libraries/fusion
	url = git@github.com:jonathan-thomassen/DTUServiceFusionLibrary.git
